body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  font-family: 'Raleway', Arial, sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

.noise {
  display: none;
}

.logo {
  padding-left: 20px;
}

h5 {
  color: #827717;
}

a {
  color: #536dfe;
}
