body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, sans-serif;
}

p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
}

.noise {
  display: none;
}

.logo {
  padding-left: 20px;
}

h5 {
  color: #827717;
}

a {
  color: #8c9eff;
}

.btn {
  background-color: #827717;
}

.btn:hover {
  background-color: #afb42b;
}

.brand-logo {
  margin-left: 15px;
}

